$color-primary: #fdd947;
$color-primary-light : #FDE06B;
$color-primary-dark: #E3C33F;
$color-secondary: #101d2c;
$color-grey-dark-1: #444444;
$color-grey-dark-2: #252525;
$color-grey-dark-3: #353535;
$color-grey-light-1: #d5d5d3;
$color-grey-light-3: #eeeeee;
$color-grey-light-2: #faf9f9;
$color-grey-light-4: #f3f3f3;
$color-black: #000;
$color-white: #fff;

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px
}

body {
	font-family: $font-primary;
	color: $color-grey-dark-2;
	font-weight: 400;
	background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.margin-top-sm {
	margin-top: 1.5rem;
}
